@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #333;
    font-family: 'Pretendard-Regular';
}

header {
    height: 81px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #888888;
}

header .left {
    display: flex;
    justify-content: flex-start;
    font-size: 19px;
    font-family: 'yg-jalnan';
}

header .left h3 {
    margin-left: 20px;
}

header .center ul {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

header .center ul li {
    margin-right: 100px;
}

header .right {
    display: flex;
    justify-content: right;
}

header .right .homepage {
    display: flex;
    justify-content: flex-start;
    color: #888888;
    align-items: center;
    margin-right: 35px;
}

.section01 {
    margin-top: 115px;
}

.section01 .head {
    max-width: 1280px;
    width: calc(100% - 30px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'yg-jalnan';
}

.section01 .head .left {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section01 .head .left strong {
    font-size: 70px;
    display: inline-flex;
    justify-content: flex-start;

}

.section01 .head .left strong .color {
    color: #4478FF;
}

.section01 .head .left strong .color:nth-child(2) {
    margin-left: 15px;
}

.section01 .head .left figure {
    margin-left: 15px;
}

.section01 .head .right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.section01 .head .right p {
    font-size: 24px;
    margin-right: 15px;
}


.section01 .mySwiper {
    margin-top: 100px;
}

.section01 .mySwiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.section01 .mySwiper .swiper-slide figure {
    height: 500px;
}

.section01 .mySwiper .swiper-slide figure img {
    height: 100%;
    object-fit: cover;
}

.section01 .mySwiper .swiper-button-next {
    background: url(../자료/02_next.svg) center center / 30% no-repeat;
    width: 80px;
    height: 80px;
    background-color: #FFF;
    border-radius: 90%;
    right: 20%;
    box-shadow: 0 0 10px #333;
}

.section01 .mySwiper .swiper-button-next:after {
    display: none;
}

.section01 .mySwiper .swiper-button-prev {
    background: url(../자료/02_back.svg) center center / 30% no-repeat;
    width: 80px;
    height: 80px;
    background-color: #FFF;
    border-radius: 90%;
    left: 20%;
    box-shadow: 0 0 10px #333;
}

.section01 .mySwiper .swiper-button-prev:after {
    display: none;
}




.section02 {
    max-width: 1280px;
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 150px 0;
    display: flex;
    justify-content: space-between;
}

.section02 .left {
    width: 734px;
    display: flex;
    flex-direction: column;
}

.section02 .left .title h2 {
    font-size: 45px;
    margin-bottom: 15px;
    font-family: 'yg-jalnan';
}

.section02 .left .title p {
    font-size: 20px;
    margin-bottom: 50px;
}

.section02 .left .box {
    border-radius: 20px;
    box-shadow: 0 0 10px #333;
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
}

.section02 .left .box .left {
    width: 20%;
    padding: 30px 0 30px 30px;
}

.section02 .left .box .left p {
    width: 80px;
    height: 80px;
    border-radius: 90px;
    background-color: #4478FF;
    display: block;
    text-align: center;
    line-height: 80px;
    color: #FFF;
    font-size: 18px;
}

.section02 .left .box:nth-child(4) .left p {
    background-color: #CCCCCC;
}

.section02 .left .box .right {
    width: 80%;
    padding: 40.5px 0;
}

.section02 .left .box .right h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.section02 .left .box .right .day {
    display: flex;
    justify-content: left;
    position: relative;
    margin-right: 15px;
}

.section02 .left .box .right .day span {
    margin-right: 30px;
}


.section02 .right {
    width: 434px;
}

.section02 .right figure {
    width: 100%;
    height: 625px;
}

.section02 .right figure img {
    width: 100%;
    height: 625px;
    object-fit: cover;
    border-radius: 20px;
}




.section03 {
    max-width: 1280px;
    width: calc(100% - 30px);
    margin: 150px auto;
}

.section03 .title {
    text-align: center;
}

.section03 .title h2 {
    font-size: 45px;
    margin-bottom: 15px;
    font-family: 'yg-jalnan';
}

.section03 .title p {
    font-size: 20px;
    margin-bottom: 40px;
}

.section03 .wrap {
    height: 626px;
    display: flex;
    justify-content: space-between;
}



.section03 .left {
    background-color: #FF8515;
    color: #FFF;
    width: 49%;
    border-radius: 30px;

    position: relative;
}

.section03 .left .mySwiper02 {
    width: 100%;
    height: 100%;
}

.section03 .left .mySwiper02 .swiper-wrapper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.section03 .left .mySwiper02 .swiper-wrapper .swiper-slide img {
    width: 100%;
}

.section03 .left .mySwiper02 .swiper-wrapper .swiper-slide .title {
    position: absolute;
    top: 15%;
    left: 12%;
    font-family: 'yg-jalnan';
}

.section03 .left .mySwiper02 .swiper-wrapper .swiper-slide .title span {
    font-size: 22px;
    display: block;
    width: 125px;
    height: 46px;
    background-color: #BD4F00;
    border-radius: 40px;
    text-align: center;
    line-height: 46px;
    margin-bottom: 25px;
}

.section03 .left .mySwiper02 .swiper-wrapper .swiper-slide .title h3 {
    font-size: 45px;
}

.section03 .left .mySwiper02 .swiper-wrapper .swiper-slide figure {
    position: absolute;
    bottom: -13%;
    right: -3%;
}

.section03 .left .mySwiper02 .swiper-wrapper .swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section03 .left .mySwiper02 .swiper-button-next {
    background: url(../자료/02_next.svg) center center / 30% no-repeat;
    width: 60px;
    height: 60px;
    background-color: #FFF;
    border-radius: 90%;
    left: 35%;
    top: calc(50% - -65px);
    box-shadow: 0 0 10px #333;
}

.section03 .left .mySwiper02 .swiper-button-next:after {
    display: none;
}

.section03 .left .mySwiper02 .swiper-button-prev {
    background: url(../자료/02_back.svg) center center / 30% no-repeat;
    width: 60px;
    height: 60px;
    background-color: #FFF;
    border-radius: 90%;
    left: 10%;
    top: calc(50% - -65px);
    box-shadow: 0 0 10px #333;
}

.section03 .left .mySwiper02 .swiper-button-prev:after {
    display: none;
}

.section03 .left .color {
    display: block;
    width: 100%;
    height: 20%;
    background-color: #FF6B00;
    border-radius: 0 0 30px 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}



.section03 .right {
    width: 49%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section03 .right figure {
    width: 49%;
    height: 49%;
    position: relative;
}

.section03 .right figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.section03 .right figure p {
    width: 100%;
    height: 30%;
    font-size: 18px;
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0 0 30px 30px;
    opacity: 0;
    transition: 0.7s;
}

.section03 .right figure:hover p {
    opacity: 1;
    transition: 0.7s;
}





.section04 {
    max-width: 1280px;
    width: calc(100% - 30px);
    margin: 0 auto;
}

.section04 .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.section04 .title h2 {
    font-size: 45px;
    font-family: 'yg-jalnan';
}

.section04 .title .menu_wrap {
    display: flex;
    justify-content: right;
    align-items: center;
}

.section04 .title .menu_wrap figure {
    width: 20px;
    height: 20px;
}

.section04 .title .menu_wrap figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section04 .title .menu_wrap a {
    font-size: 22px;
    margin-right: 30px;
}

.section04 .box {
    width: 100%;
    height: 88px;
    border-radius: 20px;
    box-shadow: 0 0 10px #333;
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
    align-items: center;
}

.section04 .box h4 {
    display: block;
    width: 200px;
    text-align: center;
    font-size: 18px;
    color: #FF8A00;
}

.section04 .box p {
    display: block;
    width: calc(100% - 250px);
    font-weight: bold;
}


.section04 .box .notice {
    color: #4478FF;
}


.section04 .box span {
    display: block;
    margin-right: 50px;
}

.section04>figure {
    margin-top: 100px;
    margin-bottom: 150px;
    text-align: center;
}


.footer {
    margin: 0 auto;
    padding: 50px 0;
    background-color: #142143;
    color: #FFF;
    text-align: center;
}

.footer figure {
    width: 160px;
    height: 54px;
    margin: 0 auto;
}

.footer figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer .up {
    margin-top: 27px;
    margin-bottom: 4px;
}

.footer .up a {
    display: inline-block;
    padding: 0 20px;
    font-size: 15px;
}

.footer .up a:first-child {
    color: #8AC0FF;
}

.footer .down {
    margin-top: 10px;
}

.footer .down p {
    display: inline-block;
    padding: 0 20px;
    font-size: 15px;
}







@media screen and (max-width:1280px) {
    .header {
        justify-content: space-between;
        padding: 0 30px;
    }

    header .center {
        display: none;
    }

    .section02 .left .box .right .day span::after {
        display: none;
    }
}

@media screen and (max-width:1250px) {

    .section03 .right figure:nth-child(2),
    .section03 .right figure:nth-child(4) {
        display: none;
    }

    .section03 .right figure {
        width: 100%;
        height: 310px;
    }

    .section03 .right figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media screen and (max-width:960px) {
    .section03 .left {
        word-break: keep-all;
    }

    .section03 .left .mySwiper02 .swiper-wrapper .swiper-slide .title {
        text-align: left;
    }
}


@media screen and (max-width:390px) {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 0;
    }

    .header .left h3 {
        font-size: 17px;
        line-height: 28px;
    }

    header .right .homepage {
        display: none;

    }



    .section01 {
        margin-top: 50px;
    }

    .section01 .head {
        flex-wrap: wrap;

    }

    .section01 .mySwiper {
        margin-top: 30px;
    }

    .section01 .mySwiper .swiper-button-next,
    .section01 .mySwiper .swiper-button-prev {
        width: 40px;
        height: 40px;
    }

    .section01 .mySwiper .swiper-slide {
        width: 10%;
    }
    .section01 .mySwiper .swiper-slide figure {
        height: 300px;
    }


    .section01 .head .left figure {
        width: 126px;
        height: 53px;
    }

    .section01 .head .left figure img {
        width: 100%;
        height: 100%;
    }

    .section01 .head .left strong {
        font-size: 30px;
    }

    .section01 .head .right {
        margin-top: 20px;
    }

    .section01 .head .right p {
        font-size: 15px;
    }

    .section01 .head .right a img {
        width: 20px;
        height: 20px;
    }

    .section02 .left .title h2 {
        font-size: 27px;
    }

    .section02 .left .title p {
        font-size: 14px;
    }


    .section02 {
        padding: 40px 0;
        margin-top: 40px;
    }

    .section02 .left .title p {
        margin-bottom: 20px;
    }

    .section02 .left .box {
        align-items: center;
    }

    .section02 .left .box .left {
        padding: 20px 0 20px 20px;
    }

    .section02 .left .box .left p {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .section02 .left .box .right {
        width: 250px;
        word-break: keep-all;
        font-size: 18px;
        padding: 20px 0;
    }

    .section02 .left .box .right h4 {
        font-size: 18px;
        margin: 0;
    }

    .section02 .left .box .right .day span {
        display: none;
    }

    .section02 .left .box .right .day p {
        display: none;
    }

    .section02>.right {
        display: none;
    }



    .section03 {
        margin: 40px auto;
    }

    .section03 .title h2 {
        font-size: 27px;
    }

    .section03 .title p {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .section03 .wrap {
        flex-wrap: wrap;
        height: 400px;
    }

    .section03 .wrap .left {
        width: 99%;
        height: 350px;
    }

    .section03 .left .mySwiper02 .swiper-wrapper .swiper-slide .title span {
        font-size: 15px;
        width: 100px;
        height: 38px;
        line-height: 38px;
    }

    .section03 .left .mySwiper02 .swiper-wrapper .swiper-slide .title h3 {
        font-size: 24px;
    }

    .section03 .left .mySwiper02 .swiper-wrapper .swiper-slide figure {
        width: 70%;
        height: 70%;
        bottom: -5%;
    }

    .section03 .left .mySwiper02 .swiper-button-next,
    .section03 .left .mySwiper02 .swiper-button-prev {
        width: 40px;
        height: 40px;
    }

    .section03 .right {
        flex-wrap: nowrap;
        width: 100%;
        height: 155px;
    }

    .section03 .right figure {
        width: 49%;
        height: auto;
        margin-top: 30px;
    }





    .section04 {
        margin-top: 200px;
    }

    .section04 .title {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .section04 .title h2 {
        font-size: 27px;
        margin: 0 auto;
    }

    .section04 .title .menu_wrap {
        margin: 15px auto 0;
    }

    .section04 .title .menu_wrap figure {
        width: 17px;
        height: 17px;
    }

    .section04 .title .menu_wrap a {
        font-size: 15px;
    }

    .section04 .box {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: normal;
        padding: 0 20px;
        width: auto;
    }

    .section04 .box h4 {
        text-align: left;
        width: 100%;
        font-size: 15px;
    }

    .section04 .box p {
        width: 100%;
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        
    }

    .section04 .box span {
        font-size: 15px;
    }


    .section04>figure {
        margin-top: 50px;
        margin-bottom: 50px;
    }




    .footer .up a {
        width: 89%;
        margin-bottom: 10px;
    }
    .footer .down p {
        margin-bottom: 10px;
    }
    .footer .down p:nth-child(3) {
        margin-bottom: 0;
    }
}
